*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.f-right{
    float: right;
}
.f-left{
    float: left;
}
li{
    list-style: none;
}
.text-white{
    color: white !important;
}
.font-mono{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    
}
.header{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.4)) ;
    background-repeat: no-repeat;
    background-size: 100%;
}
.nav-bar{
    width: 85%;
    height: 8vh; 
    margin: 0 auto;
    padding-top: 1.5%;
}

ul li{
    display: inline;
    padding: 0 4px ;
    cursor: pointer;
}

.title{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 12%;
}
h1{
    font-size: 75px;
}
.one{
    width: 100%;
    height: 170vh;
    margin-top: 7%; 
}
.container{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.content{
    width: 100%;
    height: 25%;
    transition: 0.1s;
}
.content:hover{
    color: #0085a1;
}
.h2{
    font-size: 50px;
}
.p-size{
    font-size: 35px;
}
.i-size{
    font-size: 20px;
}
.hr{
    margin-top: 10%;
}
.pt-3{
    padding-top: 3%;
}
.post{
    width: 100%;
    height: 15vh;
    
}
.btn{
    width: 21%;
    height: 7vh;
    border: none;
    background-color: #0085a1;
    transition: 1.3s;
}
.btn:hover{
    background-color: red ;
    /* #037187 */
}

.two{
    width: 100%;
    height: 82vh;
    margin-top: 5%;
    
}
.text{
    width: 50%;
    height: 100%;
    
    margin: 0 auto;
}
.text-main{
    font-size: 25px;
    padding-top: 4%;
}
.pt{
    padding-top: 15%;
}
.pt .li{
    display: inline;
    cursor: pointer;
    width: 5000px;
    height: 5000px;
    font-size: 60px;
    
    margin: 0 0 0 15%;
    border-radius: 50%;
}
.text-center{
    text-align: center;
}
.icon{
    transition: 0.5s;
}
.icon:hover{
    color: #0085a1;
}


